/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #F50057 !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}


a {
    color: #F50057;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    line-height: inherit;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary {
    color: #fff;
    background-color: #FF7B9B;
    border-color: #F50057;
}

    .btn-primary:hover {
        background-color: #F50057;
        border-color: #C51162;
    }

.btn-secondary {
    background-color: #F5A9B8;
    border-color: #F88B98; 
    color: #fff;
}

    .btn-secondary:hover {
        background-color: #F88B98;
        border-color: #F5737A; 
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #F05077;
    border-color: #F50057;
}

.border-top {
    border-top: 2px solid #F5A5B6;
}

.border-bottom {
    border-bottom: 2px solid #F5A5B6;
}

.box-shadow {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 50px;
    padding: 15px 0;
    background-color: #F9C0D3;
    border-top: 2px solid #F5A5B6;
}



