@model TodoViewModel

        <table>
            <thread>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                </tr>
            </thread>
            <tbody>
                @foreach(var t in Model.TodoList)
                {
                    <tr>
                        <td class="todos-column" scope="row">@t.Id</td>
                        <td class="todos-column" scope="row">@t.Name</td>
                        <td class="buttons-colum">
                            <input type="submit" value="Delete" onclick="deleteTodo(@t.Id)">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
